<% include header %>
<script src="test/calc.js"></script>

<button onclick="myFunction()">Try it</button>

<p id="a"></p>
<p id="p"></p>
<p id="v"></p>
<p>Results of the unit tests are available at <a href="test/test.html">test/test.html</a>.</p>

<% include footer %>