<% include header %>

<title>04 - Dristi Marasini</title>
 <link rel="stylesheet" type="text/css" href="css/dristi.css">
 <link rel="stylesheet" type="text/css" href="css/contact.css">


 <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
 <script src="js/index.js"></script>
</head>
<body background="background.jpg">

    
  <div class="container-fluid" id="contact-id">
    <!-- BootStrap grid system using one row that could have several columns (when the screen size is large enough) -->
    <div class="row">
      <div class="col-sm-6 offset-sm-3" id="contact-id">
        <h2 id="contact-id"><u>Contact Form</u></h2><br>
<form>
  <div class="container-fluid">
  <div >
<label>
E-mail    
<input type="email" class="email"/>

</label>
</div>
<div>
<label>
Subject    
  <input type="text" class="subject"/>
  
  </label>
</div>
<div>
  <label >
Message    
   <textarea class="message"></textarea>
    
    </label>
  </div>
</div>
<div class="status"></div>
<button type="submit" class="submit">Send</button>

</form>
        
        <main>
    
          <div class="contact">
            <p><b><u>Contact Information</u></b></p>
      <p>1121 N  Horizon West</p>
      <p>Number:816-716-1895</p>
      <h3 class="aside-header"><b><u>Connect Via</u></b></h3>
      <p id="link">
        <i class="fa fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/dristi-marasini-bb455616a/"><u>LinkedIn</u></a>
      <br>
      <i class="	fa fa-github"></i>
      <a href="https://github.com/dristi-marasini"><u>GitHub</u></a>
      <br>
      <i class="fa fa-bitbucket"></i>
      <a href="https://bitbucket.org/dristimarasini/"><u>BitBucket</u></a>
      </p>
      </div>
      
      
      </main>
      </div>
    </div>
    <!-- /column -->
  </div>


<% include footer %>



