<% include header %>
<title>04 - Dristi Marasini</title>

<div class="myHeader col-md-3">
    <img src="/images/Dristi.JPG" alt="my-image" class="my-image" width="100" height="100"/>

    <h1><u>04 - Dristi Marasini</u></h1>
</div>
  
<div class="clearfix"></div>
<main>
<article>  
<h2 class="intro"><u> <b>Introduction</b></u></h2>
<br>
<div class="col-md-12">
    <div class="col-md-6">
<section id="current-section"><h3 class="section-header"> 

    <u>Skills </u></h3>
<p> I am a new graduate student of Fall Batch 2018 working on my Masters of Applied Computer Science.
Being laborious, I am flexible and quick to pick up new skills. During my under graduation, I worked as class representative to the CS department and also volunteered in many programs.</p></section>
</div>
<div class="col-md-6">
 <section id="past-section"><h3 class="section-header"><u>Educational Background </u></h3>
 <p>I have completed my undergraduate studies in Computer Engineering at Nepal Engineering College from Nepal. 
I worked as Dot Net Developer for a year in Phoenix SoIutions Pvt.ltd  .
I love problem solving tasks especially related to Mathematics.</p></section>
</div>
</div>
<div class="col-md-6">
<section id="future-section"><h3 class="section-header"><u>Interests</u></h3>
<p>I aim to be a software developer and after few years of experience, I would like to work as a Project Manager.
I got the Certificate of Placement in DEAN'S LIST in recognition of an outstanding Meritorious
achievement in my undergraduate studies. I have an immense love for programming.</p></section>
</div>
<div class="col-md-6">
<section id="myschedule">

<h3 class="section-header"><u>Schedule</u></h3>
<ol class="section-list">
<li>Advance Topics In Database Systems(Monday,Wednesday,Friday:11am-11:50am)</li>
<li>Web Apps And Services(Monday,Wednesday:12am-12:50am)</li>
<li>Object-Oriented Programming(Tuesday,Thursday:8am-9:15am)</li>
</ol>
</section>
</div>
<div class="col-md-12">
<video class="myVideo" width="600" controls>
        <source src="images/video.mp4" type="video/mp4">
      </video>
    </div>
</article>
<aside>
  <br>
  <div class="clearfix"></div>
    <div class="linkClass">
<h3 class="aside-header"><u>Connect Via</u></h3>
<p id="link">
<a href="https://www.linkedin.com/in/dristi-marasini-bb455616a/"><u>LinkedIn</u></a>
</p>
</div>
</aside>
</main>
<% include footer %>